.env
**/*.ipynb
**/*.pdf
**/*.txt
**/*.db
**/*.sqlite3
# Ignore text_formatting scripts folder
dictionary/
resources/
compiled_states/
cache/
tmp/
/tmp
/autogen_self_consistency_approach/__pycache__
tmp/db/chroma.sqlite3
*.pyc
*.json
*.png